<div class="row">
  <div class="col-sm-4">
    <p class="">Messages</p>
    <p class="mb-0 text-primary">
      <strong>
        <a routerLink="/profile" class="text-primary">{{currentUser?.messages.length}}</a>
      </strong>
    </p>
  </div>

  <div class="col-sm-4">
    <p class="">Following</p>
    <p class="mb-0 text-primary">
      <strong>
        <a routerLink="/profile" class="text-primary">{{currentUser?.followings.length}}</a>
      </strong>
    </p>
  </div>

  <div class="col-sm-4">
    <p>Followers</p>
    <p class="mb-0 text-primary">
      <strong>
        <a routerLink="/profile" class="text-primary">{{currentUser?.followers.length}}</a>
      </strong>
    </p>
  </div>
</div>
