<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom box-shadow">
  <a routerLink="/timeline" class="navbar-brand my-0 mr-md-auto text-dark"><h3>Kwetter</h3></a>

  <nav class="my-2 my3">
    <a routerLink="/timeline" class="text-primary">Timeline</a>
    <a routerLink="/profile" class="p-3 text-primary">Profile</a>
  </nav>

  <div class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchString"
           (keydown)="onKeydown($event)">
    <a routerLink="/login" class="btn btn-outline-primary">Log in</a>
  </div>
</div>
