<div class="container-fluid bg">
  <div class="row">
    <div class="col-sm-8">
      <h3>What's happening?</h3>
      <app-create-message [currentUser]="currentUser"
                          (createMessageEvent)="createMessageEvent()"></app-create-message>

      <ngb-tabset #tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="clearTopic()">
              <h3>Timeline</h3>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="mt-3" *ngFor="let message of messages">
              <app-message [message]="message" (likeMessageEvent)="likeMessageEvent()"
                           (unlikeMessageEvent)="unlikeMessageEvent()"></app-message>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="clearTopic()">
              <h3>Mentions</h3>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="mt-3" *ngFor="let message of mentions">
              <app-message [message]="message" (likeMessageEvent)="likeMessageEvent()"
                           (unlikeMessageEvent)="unlikeMessageEvent()"></app-message>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="topics" *ngIf="topic != null">
          <ng-template ngbTabTitle><h3>#{{topic?.name}}</h3></ng-template>
          <ng-template ngbTabContent>
            <div class="mt-3" *ngFor="let message of topic.messages">
              <app-message [message]="message" (likeMessageEvent)="likeMessageEvent()"
                           (unlikeMessageEvent)="unlikeMessageEvent()"></app-message>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-sm-4">
      <h3>Statistics</h3>
      <app-statistics [currentUser]="currentUser"></app-statistics>

      <h3>Topics</h3>
      <div class="card box-shadow">
        <div class="card-body">
          <div *ngFor="let topic of topics">
            <app-topic [topic]="topic" (topicEvent)="topicEvent($event)"></app-topic>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
