<div class="card mb-4  box-shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <p class="text-primary">Location</p>
        <p class="text-primary">Website</p>
        <p class="text-primary mb-0">Bio</p>
      </div>

      <div class="col-sm-8">

        <p><a href="https://www.google.com/maps/search/{{user?.location}}" target="_blank">{{user?.location}}</a></p>
        <p><a href="{{user?.website}}" target="_blank">{{user?.website}}</a></p>
        <p class="mb-0">{{user?.bio}}</p>
      </div>
    </div>
  </div>
</div>
